/* FONTS */

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-cyrillic-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-cyrillic-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v30-cyrillic-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v30-cyrillic-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v30-cyrillic-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* GENERAL STYLES START */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #1d1d1d;
  line-height: 1.2;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
/* GENERAL STYLES END */

/*HEADER STYLES START*/
.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  background: #fff;
  z-index: 2;
}
.wrapper {
  max-width: 962px;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav__item {
  margin-right: 16px;
}
.nav__singin {
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  color: #1d1d1d;
}
.nav__button {
  padding: 13px 20px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  background-color: #ffffff;
}
.header__logo__pic {
  max-width: 119.23px;
}
.header__backet {
  padding: 0 10px;
}
.header__backet__pic {
  max-width: 18.95px;
}
/* HEADER STYLES END */

/*MAIN STYLES START*/
.pushkin__main {
  background: url(../img/pushkin/bg_svg.svg) no-repeat;
  background-position: left -265px;
  background-size: cover;
  padding: 155px 0 80px;
  max-width: 100%;
  height: auto;
}
#anchor {
  margin-top: -72px;
  padding-bottom: 72px;
}
.pushkin__main_title {
  max-width: 389px;
  background-color: #fff;
  padding: 38px 29px 38px 38px;
}
.pushkin__main_caption {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #1d1d1d;
  margin-bottom: 54px;
}
.pushkin__main_price {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
}
.pushkin__main_price_wrap {
  padding: 8px;
}
.pushkin__main_time_wrap {
  text-align: right;
}
.pushkin__main_time {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  background: #262626;
  border-radius: 16px;
  padding: 8px 16px;
  width: fit-content;
  display: inline;
}

.menu {
  border: 1px solid rgba(117, 117, 117, 0.2);
  margin-bottom: 56px;
}
.menu__nav {
  padding-top: 32px;
  padding-bottom: 29px;
  display: flex;
  flex-wrap: wrap;
}
.menu__nav_item {
  margin-right: 40px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}
.menu__nav:last-child {
  margin-right: 0;
}
.menu__nav_item:hover,
.menu__nav_item:focus,
.menu__nax_item:active {
  color: #327430;
}

.menu__item_title {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 32px;
}
.menu__cards {
  margin-bottom: 49px;
}
.card__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  margin-bottom: 32px;
}
.card__wrapper:hover,
.card__wrapper:focus {
  background-color: rgba(117, 117, 117, 0.04);
}
.card__info {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}
.card__consist {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #626262;
  margin-bottom: 58px;
}
.card__price {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}
/*MAIN STYLES END*/

/* FOOTER STYLES START */
.footer {
  margin-top: 48px;
  padding: 56px 0 40px;
  background: #262626;
  position: relative;
}
.footer__logo {
  max-width: 190.77px;
  margin-bottom: 40px;
}
.line {
  position: relative;
  margin-bottom: 32px;
}
.line::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer__lang {
  margin-right: 97px;
  position: relative;
}
.footer__lang_form {
  background: #3b3b3b;
  padding: 0 16px;
  margin-bottom: 33px;
}
.language {
  width: 100%;
  background: transparent url(../img/world.svg) no-repeat left center;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  border: 0;
  padding: 12px 48px;
}
.uber__hashtag {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.hashtag {
  color: #49a144;
}
.footer__uber {
  color: #ffffff;
}
.social_networks {
  margin-top: 17px;
}
.network {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.footer__col li {
  margin-bottom: 23px;
}
.footer_link a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.footer__download {
  margin-top: 22px;
}
.download {
  padding: 40px 0 8px;
}
.download_link1 {
  text-align: right;
}
.download_link2 {
  padding-left: 32px;
  text-align: left;
}
.download_pic {
  max-width: 120.66px;
  height: 40px;
}
.footer__bottom {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}
.footer__agreement {
  padding-top: 40px;
}
.btn-up {
  position: absolute;
  right: 16px;
  bottom: 24px;
  background: url(../img/btn-up.svg);
  width: 80px;
  height: 80px;
  border: 0;
}
/* FOOTER STYLES END */

/* MEDIA STYLES START */
@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 752px;
  }
  .pushkin__main {
    background-position: left -109px;
  }
  .pushkin__main_title {
    max-width: 432px;
    padding: 38px 52px 38px 48px;
  }
  .card__info {
    padding: 16px 24px;
  }
  .footer {
    margin-top: 16px;
  }
  .footer__lang {
    margin-right: 72px;
    margin-bottom: 32px;
  }
  .language {
    padding: 12px 0 12px 32px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .wrapper {
    max-width: 560px;
  }
  .menu {
    display: none;
  }
  .pushkin__main {
    margin-bottom: 56px;
  }
  .btn-up {
    width: 64px;
    height: 64px;
    background-size: contain;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    max-width: 308px;
  }
  .pushkin__main {
    background-position: left 75px;
    padding: 206px 0 0;
  }
  .pushkin__main_title {
    max-width: 432px;
    padding: 24px 49px;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    margin-bottom: 56px;
  }
  .pushkin__main_caption {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }
  .pushkin__main_time_wrap {
    text-align: center;
  }
  .pushkin__main_price_wrap {
    text-align: center;
    margin-bottom: 8px;
  }
  .pushkin__main_time {
    margin: 0 56px;
    font-size: 12px;
    line-height: 14px;
  }
  .menu {
    display: none;
  }
  .menu__items {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .menu__item {
    min-width: 100%;
  }
  .menu__item_title {
    text-align: center;
    margin-bottom: 12px;
  }
  .menu__cards {
    margin-top: 43px;
  }
  .under__line_xs {
    position: relative;
  }
  .under__line_xs::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 1px;
    background: #757575;
  }
  .card__info {
    padding: 0;
  }
  .card__desc {
    max-width: 170px;
    padding: 0;
  }
  .card__title {
    font-size: 14px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
  }
  .card__wrapper {
    border: 0;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    margin-bottom: 16px;
  }
  .card__wrapper img {
    max-width: 102px;
  }
  .card__consist {
    margin-bottom: 16px;
  }
  .line {
    margin-bottom: 24px;
  }
  .footer {
    padding: 56px 0 16px;
  }
  .footer__agreement .footer__col {
    margin-bottom: 24px;
  }
  .download {
    padding: 24px 8px 0;
  }
  .download_link1 {
    text-align: center;
  }
  .download_link2 {
    padding: 0;
    text-align: center;
  }
  .btn-up {
    width: 64px;
    height: 64px;
    background-size: contain;
  }
}

@media screen and (max-width: 480px) {
  .pushkin__main {
    background-size: contain;
  }
}
/* MEDIA STYLES END */
